@import 'tailwindcss';

html {
  width: 380px;
  height: 600px;
}

html[desktop] {
  width: 100vw;
  height: 100vh;
}

body,
#root {
  width: 100%;
  height: 100%;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
